
.base {
    width: 100%;
    background-color: beige;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.cart{
    width: 200px;
    height: 150px;
    border: 1px solid black;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(2, 162, 255);
    color: white;
    
}
.cartuser {
    width: 200px;
    height: 150px;
    border: 1px solid black;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(136, 136, 136);
    color: white;

}

.user{
   
    display: flex;
    gap: 20px;
}

.iniciar{
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;
}

.sucess{
    color: green;
  
}

.comparar{
    cursor: pointer;
}

